<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav2.ejs') %>
    <section class="section">
            <div class="columns is-centered">
                    <div class="column is-one-third">
                       <nav class="panel">
                        <p class="panel-heading">
                          Update
                        </p>
                            <form class="product-form" action="/register/<%=player.id%>" method="POST">    
                                <input hidden value="<%=player.id%>" name="id">            
                                <div class="panel-block">
                                    <div class="field">
                                        <label class="label">College</label>
                                            <div class="select">
                                                <select name="college" id="collegeid" required>
                                                    <option value=""><%=player.college%></option>
                                                    <option value="CAS">CAS</option>
                                                    <option value="CCIS">CCIS</option>
                                                    <option value="CMET">CMET</option>
                                                    <option value="ETYCB">ETYCB</option>
                                                    <option value="MITL">MITL</option>
                                                    <option value="SHS">SHS</option>
                                                </select>
                                            </div>                
                                    </div>
                                </div>       
                                <div class="panel-block">
                                        <div class="field">
                                            <label class="label">Program</label>
                                                <p class="subtitle is-7">e.g. IT CS</p>
                                                    <div class="control">
                                                        <input class="input" type="text" value="<%=player.program%>" name="program"required>
                                                    </div>
                                        </div>
                                </div>
                                <div class="panel-block">
                                    <div class="field">
                                        <label class="label">Sport</label>
                                            <div class="select">
                                                <select name="sport" required>
                                                    <option value=""><%=player.sport%></option>
                                                    <option value="Badminton">Badminton</option>
                                                    <option value="Basketball">Basketball</option>
                                                    <option value="Volleyball">Volleyball</option>
                                                </select>
                                            </div>   
                                    </div>             
                                </div>
                                <div class="panel-block">
                                    <div class="field">
                                        <label class="label">Full Name</label>
                                            <div class="control">
                                                <input class="input" name="fullname" value="<%=player.fullname%>" type="text" required>
                                            </div>
                                    </div>
                                </div>
                                <div class="panel-block">
                                    <div class="field">
                                        <label class="label">Email</label>
                                            <div class="control">
                                                <input class="input" value="<%=player.email%>" type="email" name="email"required>
                                            </div>
                                    </div>
                                </div>
                                <div class="panel-block">
                                    <div class="field">
                                        <div class="control">
                                            <button class="button is-link" type="submit" required>Update</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </nav>
                    </div>
                </div>           



    </section>
    <%- include('../includes/scripts.ejs') %>
</body>

</html>